<!DOCTYPE html>
<html>
<head>
  <title><%%= page_title %> | <%= app_const_base %></title>
  <%%= stylesheet_link_tag    "application" %>
  <%%= javascript_include_tag "application" %>
  <%%= csrf_meta_tags %>
</head>
<body>
  <%%= form_tag(noodall_search_path, :method => :get, :class => 'search') do %>
    <%%= text_field_tag :q, params[:q] || 'Enter keyword(s) here'  %>
    <%%= submit_tag 'Search' %>
  <%% end %>

  <%%= flash_messages %>

  <%%= yield %>

</body>
</html>
