# Set the slots and which can be placed in them
#Noodall::Node.slot :large, GeneralContent

# Reset global update time on startup
Noodall::GlobalUpdateTime::Stamp.update!

## Set the Root template classes
#<%= app_const %>.config.before_eager_load do
  #Noodall::Node.root_templates ArticleList
#end
